@model ProyectoMVC.Models.ViewModels.CrearAnimalViewModel

@{
    ViewData["Title"] = "Crear Animal";
    var successMessage = TempData["Success"] as string;
}

@if(!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success" role="alert">
        @successMessage
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-error" role="alert">
        @ViewBag.Error
    </div>
}

<h1>Añadir animal</h1>
<div class="container">
    <form id="animalDataForm" asp-controller="Animal" asp-action="Crear" method="post" asp-antiforgery="true">
        <div class="mb-1">
            <label asp-for="NombreAnimal" class="form-label"></label>
            <input asp-for="NombreAnimal" class="form-control" />
            <span asp-validation-for="NombreAnimal" class="text-danger"></span>
        </div>
        <div class="mb-1">
            <label asp-for="Raza" class="form-label"></label>
            <input asp-for="Raza" class="form-control" />
            <span asp-validation-for="Raza" class="text-danger"></span>
        </div>
        <div class="mb-1">
            <label asp-for="RIdTipoAnimal" class="form-label"></label>
            <select asp-for="RIdTipoAnimal" class="form-control" asp-items="ViewBag.TiposAnimales">
                <option value="">Seleccione un tipo de animal</option>
            </select>
            <span asp-validation-for="RIdTipoAnimal" class="text-danger"></span>
        </div>

        <div class="mb-1">
            <label asp-for="FechaNacimiento" class="form-label"></label>
            <input asp-for="FechaNacimiento" class="form-control" type="date"/>
            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
        </div>

        <div class="mb-1">
            <button type="submit" form="animalDataForm" class="btn btn-primary" name="submitAction">Añadir</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}